<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/inicio"></ion-back-button>
        </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-row style = "width:100%; height:220px; overflow: hidden; position: relative">
        <ion-img [src]= "'../../assets/image/usuarios/' + usuario.name +'.jpeg'"></ion-img>
    </ion-row>
    <ion-row class="contenido">
    <h2>{{usuario.name}} {{usuario.lastName}}</h2>
    </ion-row>
    <ion-row class="contenido">
      <h3>{{usuario.dateBirth}}</h3>
    </ion-row>
    <ion-row class="contenido">
      <h3>{{usuario.email}}</h3>
    </ion-row>

    <ion-row id="btn_apuntar_container">
        <ion-button href="/editar-perfil" id="btn_apuntar" expand="block" color="secondary" class="ios button button-block button-solid ion-activatable ion-focusable hydrated">
          Editar
        </ion-button>
      </ion-row>

</ion-content>
