<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/detalle_evento/{{evento}}"></ion-back-button>
      </ion-buttons>
    <ion-title>Comentarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let comentario of comentarios">
      
      <ion-avatar slot="start">
          <img [src]= "'../../assets/image/usuarios/' + comentario.usuario +'.jpg'"/>
      </ion-avatar>
      
      <ion-label>
          <h2>{{comentario.usuario}}</h2>
          <p>{{comentario.comentario}}</p>
      </ion-label>
        
     </ion-item>
   </ion-list>

   <ion-item id="nuevo_comentario">
     <ion-input placeholder="Deja un comentario.."></ion-input>
   </ion-item>

   <ion-button id="btn_comentar" expand="block" color="secondary" class="ios button button-block button-solid ion-activatable ion-focusable hydrated">
      Enviar comentario
    </ion-button>
</ion-content>
