ion-img{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    height: initial;
}

ion-list {
    width: 100%;
}

#contenido {
    padding: 0 10px;
}

h1 {
    font-weight: bold;
}