<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list-header style="margin-top: 10px;">
        <ion-label>
          <h1 >Eventos</h1>
        </ion-label>
      </ion-list-header>
      <ion-list>
       <ion-item *ngFor="let evento of eventos" style="height:220px">
          <ion-grid (click)="goTo(evento.club)">
            <ion-row>
                <ion-label>
                  <h2 style="font-weight: bold"> {{evento.club}}</h2>
                </ion-label>
            </ion-row>
              <ion-row style = "width:100%; height:150px; overflow: hidden; position: relative">
                <ion-img [src]= "'../../assets/image/' + evento.club +'.jpeg'"></ion-img>
              </ion-row>
              <ion-row>
                <ion-label>
                  <h2> {{evento.fecha}}</h2>
                </ion-label>
              </ion-row>
            </ion-grid>
        </ion-item>
      </ion-list>
</ion-content>
